################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.venv/
node_modules/
.local-browsers/
*.dll
/.vs
